*.pdf
*.pptx
*.gz
*.aux
!/media/**/*.pdf
*.log

*.aux
*.bbl
*.bcf
*.blg
*.idx
*.ind
*.lof
*.lot
*.out
*.toc
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.fls
*.log
*.fdb_latexmk
*.snm
*.synctex(busy)
*.synctex.gz(busy)
*.nav
*.vrb
*.gz
*.run.xml